.sidebar{
    flex: 0.35;

}

.sidebar_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}

.sidebar_search{
    display: flex;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer{
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
}

.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebar_searchContainer > input{
    border: none;
    outline: none;
    margin:0 10px;
    width: 100%;
}

.sidebar_chat{
    display: flex;
    flex-direction: column; 

}

